<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="EN" xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Add new employee</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

		<script type="text/javascript">
			function displayCurrentTime() {
				var now = new Date();
				var timeString = now.toLocaleTimeString();
				document.getElementById("currentTime").textContent = timeString;
			}

			window.onload = function() {
				displayCurrentTime();
			};
		</script>
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								Time: <span  id="currentTime"></span>
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						new employee info:
					</h1>
					<form th:action="@{/employee/add}" method="post" action="">
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									<label for="name">Name:</label>
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" id="name" name="name" required/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									<label for="salary">Salary:</label>

								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" id="salary" name="salary" required/>
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="Save" />
							<a href="/employee" class="button">Back</a>
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					UGAT77@tr.pte.hu
				</div>
			</div>
		</div>
	</body>
</html>
