<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
	<head>
		<title>Edit employee</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />


		<script>
			function displayCurrentTime() {
				var now = new Date();
				var timeString = now.toLocaleTimeString();
				document.getElementById("currentTime").textContent = timeString;
			}

			window.onload = function() {
				displayCurrentTime();
			};

			function goBack() {
				window.history.back();
			}
		</script>
	</head>

	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								Time: <span  id="currentTime"></span>
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="#">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Edit employee ifno:
					</h1>
					<form th:action="@{/employee/{id}/edit(id=${employee.id})}" th:object="${employee}" method="post">
						<table cellpadding="0" cellspacing="0" border="0" class="form_table">
							<tr>
								<td valign="middle" align="right">
									ID:
								</td>
								<td valign="middle" align="left">
									<span th:text="${employee.id}"></span>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									Name:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{name}" required/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									Salary:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" th:field="*{salary}" required/>
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="Save" />
							<input type="button" class="button" value="Back" onclick="goBack()" />
						</p>
					</form>


				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
					UGAT77@tr.pte.hu
				</div>
			</div>
		</div>
	</body>
</html>
