<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    <script>
        function displayCurrentTime() {
            var now = new Date();
            var timeString = now.toLocaleTimeString();
            document.getElementById("currentTime").textContent = timeString;
        }

        window.onload = function() {
            displayCurrentTime();
        };

        function logOff() {
            window.location.href = "/login";
        }
    </script>
</head>
<body>
<div id="wrap">
    <div id="top_content">
        <div id="header">
            <div id="rightheader">
                <p>
                    Time: <span  id="currentTime"></span>
                    <br />
                    <a href="#" onclick="logOff()">Log off</a>
                </p>
            </div>
            <div id="topheader">
                <h1 id="title">
                    <a href="#">main</a>
                </h1>
            </div>
            <div id="navigation">
                    <ul>
                        <li><a href="/employee">Employee</a></li>
                        <li><a href="/department">Department</a></li>
                        <li><a href="/login">Login</a></li>
                    </ul>
            </div>
        </div>
        <div id="content">
            <p id="whereami">
            </p>
            <h1>
                Welcome to the Home Page <span th:if="${session.user!=null}" th:text="${session.user.username}"></span>
            </h1>
            <p>
                This is the home page content.
            </p>
            <p>
                <a href="/employee">Go to Employee List</a>
            </p>
        </div>
    </div>
    <div id="footer">
        <div id="footer_bg">
            UGAT77tr@pte.hu
        </div>
    </div>
</div>
</body>
</html>
