<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>regist</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
		<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

		<script>
			function displayCurrentTime() {
				var now = new Date();
				var timeString = now.toLocaleTimeString();
				document.getElementById("currentTime").textContent = timeString;
			}

			window.onload = function() {
				displayCurrentTime();
			};
		</script>
	</head>
	<body>
		<div id="wrap">
			<div id="top_content">
					<div id="header">
						<div id="rightheader">
							<p>
								Time: <span  id="currentTime"></span>
								<br />
							</p>
						</div>
						<div id="topheader">
							<h1 id="title">
								<a href="">main</a>
							</h1>
						</div>
						<div id="navigation">
						</div>
					</div>
				<div id="content">
					<p id="whereami">
					</p>
					<h1>
						Register
					</h1>
					<form th:action="@{/register}" method="post">
						<table cellpadding="0" cellspacing="0" border="0"
							class="form_table">
							<tr>
								<td valign="middle" align="right">
									User name:
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="username" required/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									Password:
								</td>
								<td valign="middle" align="left">
									<input type="password" class="inputgri" name="password" required/>
								</td>
							</tr>
							<tr>
								<td valign="middle" align="right">
									Email:
								</td>
								<td valign="middle" align="left">
									<input type="email" class="inputgri" name="email" required/>
								</td>
							</tr>

							<tr>
								<td valign="middle" align="right">
									Verification code:
									<img id="num" th:src="@{/register/generateImageCode}" />
									<a href="javascript:;" onclick="changeImageCode()">change</a>
									<script>
										function changeImageCode(){
											document.getElementById('num').src = '[[@{/register/generateImageCode}]]?'
											+ (new Date()).getTime()
										}
									</script>
								</td>
								<td valign="middle" align="left">
									<input type="text" class="inputgri" name="code" required/>
								</td>
							</tr>
						</table>
						<p>
							<input type="submit" class="button" value="Register &raquo;" />
							<a href="login">Already have an account? Type to sign in.</a>
						</p>
					</form>
				</div>
			</div>
			<div id="footer">
				<div id="footer_bg">
				UGAT77@tr.pte.hu
				</div>
			</div>
		</div>
	</body>
</html>
